<!DOCTYPE html>
<html>
    <% include common/head %>
    </head>
    <body class="pg-history">
        <% include common/header-simple %>
        <div class="body cf">
            <div class="content">
                <div class="filter cf">
                    <button type="button" class="filter__item J-popover" data-toggle="popover" title="标签" data-content="<% tagList.forEach(function (tag) { %><a class='btn' href='/history/?tag=<%= tag %>'><%= tag%></a><% }) %>">标签</button>
                    <button type="button" class="filter__item J-popover" data-toggle="popover" title="时间" data-content="<% dateList.forEach(function (date) { %><a class='btn' href='/history/?date=<%= date %>'><%= date %></a><% }) %>">时间</button>
                    <a class="filter__item" href="/history">全部</a>
                </div>
                <div class="blog-list cf">
                    <% blogs.forEach(function (blog) { %>
                    <% var link = '/blog?bname=' + blog.bid; %>
                    <div class="blog">
                        <h5 class="blog__title"><%- blog.title %></h5>
                        <span class="blog__summary"><%- blog.summary %></span>
                        <a href="<%= link %>" class="blog__time"><%= blog.year %>-<%= blog.day %></a>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <% include common/footer %>
        <script>
            $(function () {
                $('.J-popover').popover({
                    html: true,
                    placement: 'bottom',
                    trigger: 'click'
                });
            });
        </script>
    </body>
</html>
