<!DOCTYPE html>
<html>
    <% include common/head %>
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 600px)" href="/stylesheets/music-tiny.css" />
    </head>
    <body class="pg-music">
        <div class="body cf">
            <div class="music-info clearfix">
                <img class="cover" src="<%= music.src %>"/>
                <i class="status J-status fa"></i>
                <div class="status-wrapper"></div>
                <h3 class="title"><span class="name"><%= music.title %></span> - <span class="author"><%= music.name %></span></h3>
                <p class="track"><%= music.track %></p>
                <p class="description"><%= music.description %></p>
            </div>
            <div class="J-placeholder" style="display:none"></div>
            <a href="/" class="back-link"><<返回首页</a>
            <div class="music-list-wrapper">
                <i class="trigger fa fa-list J-trigger"></i>
                <ul class="music-list" style="display:none;">
                <% musicArr.forEach(function (item) {%>
                    <li>
                        <h4 class="music__title" data-id="<%=item.douban_id%>" data-title="<%=item.title%>"><i class="fa fa-music"></i>&nbsp;<%=item.title%></h4>
                        <div class="extra">
                            <p class="music__author"><i class="fa fa-male"></i>&nbsp;<%=item.author%></p>
                            <p class="music__track"><i class="fa fa-dot-circle-o"></i>&nbsp;<%=item.track%></p>
                            <p class="music__url" style="display:none"><%= item.url %></p>
                        </div>
                    </li>
                <%})%>
                </ul>
            <div>
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-52795084-1', 'zmx.im');
          ga('send', 'pageview');
        </script>
        <script src="/javascripts/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/referrerkiller.js"></script>
        <script src="/javascripts/music.js"></script>
    </body>
</html>
