<!DOCTYPE html>
<html>
    <% include common/head %>
    </head>
    <body class="pg-music">
        <% include common/header-simple %>
        <div class="body cf">
            <div class="music-info clearfix">
                <img class="cover" src="<%= src %>"></img>
                <h3 class="title"><%= title %> - <%= name %></h3>
                <p class="track"><%= track %></p>
                <p class="description"><%= description %></p>
            </div>
            <ul class="music-list">
            <% musicArr.forEach(function (music) {%>
                <li>
                    <h4 class="music__title">歌名：<%=music.title%></h4>
                    <div class="extra" style="display:none">
                        <p class="music__author">歌手：<%=music.author%></p>
                        <p class="music__track">专辑：<%=music.track%></p>
                    </div>
                </li>
            <%})%>
            </ul>
        </div>
        <% include common/footer %>
        <script>
            $(function() {
                $('.music').click(function () {
                    this
                });
                $.ajax({
                    url: '/getMusicInfo?id=2170619',
                    method: 'get'
                }).done(function(data) {
                    console.log(data);
                });
            });
        </script>
    </body>
</html>
