<!DOCTYPE html>
<html>
    <% include common/head %>
    </head>
    <body class="pg-pic">
        <% include common/header %>
        <div class="body cf">
            <div class="content">
                <% if(foldList.length > 0) { %>
                <div class="fold-list">
                    <% foldList.forEach(function (fold) { %>
                        <a class="fold" href="/pic?fold=<%= fold.name%>">
                            <img src="<%= fold.firstPic%>" width="200" height="100" />
                            <span><%= fold.name %></span>
                        </a>
                    <% }) %>
                </div>
                <% } %>
                <% if(picList.length > 0) { %>
                <div class="pic-list">
                    <% picList.forEach(function(pic) { %>
                        <a class="pic J-pic" href="javascript:void(0)">
                            <img src="<%= pic.imgSrc%>" data-width="<%= pic.width %>" data-height="<%= pic.height %>" width="400" height="<%= (400 * pic.height / pic.width).toFixed(0) %>" />
                            <span><%= pic.name %></span>
                        </a>
                    <% }) %>
                </div>
                <% } %>
            </div>
        </div>
        <% include common/footer %>
        <script>
        $('.J-pic').on('click', function() {
            var imgSrc = $(this).find('img').attr('src'),
                ratio = $(this).find('img').attr('data-height') / $(this).find('img').attr('data-width'),
                width = window.innerWidth * 0.8,
                height,
                logicalHeight = parseInt(width * ratio, 10);

            if (logicalHeight > window.innerHeight) {
                height = window.innerHeight * 0.8;
                width = parseInt(height / ratio, 10);
            }
            var dialogContent = 
            '<div class="modal fade J-dialog" role="dialog" aria-hidden="true">' +
                '<div class="modal-dialog modal-lg">' +
                    '<div class="modal-content">' +
                        '<div class="modal-body">' +
                            '<img src="' + imgSrc + '" width="' + width + '" height="' + height + '" />' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</div>';
            if ($('.J-dialog').length === 0) {
                $('body').append(dialogContent);
            } else {
                $('.J-dialog').replaceWith(dialogContent);
            }
            $('.J-dialog').find('.modal-dialog').css('width', (width + 42) + 'px');
            $('.modal').modal('show');
        });
        </script>
    </body>
</html>
