<!DOCTYPE html>
<html>
    <% include common/head %>
    <link rel='stylesheet' href='/stylesheets/animation.css' />
    </head>
    <body class="pg-track">
        <% include common/header-simple %>
        <div class="content">
            <% for(var type in personalInfo) { %>
                <% if(personalInfo.hasOwnProperty(type)) { %>
                <h3 class="canvas-header flipInX"><%= type %></h3>
                <canvas id="trackChart-<%= type %>" width=980px height=300px;></canvas>
                <% } %>
            <% } %>
        </div>
        <% include common/footer %>
        <script type="text/javascript">
            require(['jquery', 'chartjs'], function ($) {
                var data,
                    ctx,
                    myNewChart,
                    bgs = ['rgba(46, 204, 133, 0.5)', 'rgba(241, 196, 15, 0.5)', 'rgba(52, 152, 219, 0.5)'];
                    colors = ['rgba(46, 204, 133, 1)', 'rgba(241, 196, 15, 1)', 'rgba(52, 152, 219, 1)'];
                <% for(var type in personalInfo) { %>
                    <% if(personalInfo.hasOwnProperty(type)) { %>
                        data = { 
                            labels :
                            [<% personalInfo[type].time.forEach(function(data) {%>
                                "<%= data %>",
                            <%})%>],
                            datasets :
                            [<% var index = 0; personalInfo[type].datasets.forEach(function(data) {%>
                                {
                                    fillColor : bgs[<%= index %>],
                                    strokeColor : colors[<%= index %>],
                                    pointColor : colors[<%= index %>],
                                    pointStrokeColor : "#fff",
                                    data:
                                    [<% data.forEach(function (set) { %>
                                        <%= set %>,
                                    <% }) %>]
                                },
                                <% index++; %>
                            <%})%>],
                        };
                        ctx = $("#trackChart-<%= type %>").get(0).getContext("2d");
                        myNewChart = new Chart(ctx);
                        myNewChart.Line(data);
                    <% } %>
                <% } %>
            });
        </script>
    </body>
</html>
