<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body class="pg-blog">
        <% include ../common/header %>
        <div class="content cf">
            <div class="main">
                <div class="blog">
                    <h2 class="blog__title"><%- blog.title %></h2>
                    <div class="blog__content"><%- blog.content %></div>
                    <div class="blog__info">
                        <p class="date"><%= blog.day %></p>
                        <p class="tags">
                        <% blog.tags.forEach(function (tag) {%>
                            <span class="tags__item"><%- tag %></span>
                        <% })%>
                        </p>
                    </div>
                </div>
            </div>
            <aside>
                <div class="about">
                    <a class="link" href="/">
                        <img src="<%= avatar %>" />
                    </a>
                </div>
            </aside>
        </div>
        <% include ../common/footer %>
    </body>
</html>
