<!DOCTYPE html>
<html>
    <% include ../common/head %>
        <link rel='stylesheet' href='/stylesheets/highlight/github.css' />
    </head>
    <body class="pg-blog-edit">
        <% include ../common/header-simple %>
        <form class="wrapper" method="POST" action="/blog">
            <h1>编写博客</h1>
            <div class="form-group form-group--short">
                <label>url：</label>
                <% if (blog) { %>
                <input class="form-control" value="<%- blog.bid%>" name="index" type="text" />
                <% } else { %>
                <input class="form-control" name="index" type="text" />
                <% } %>
            </div>
            <div class="form-group form-group--short">
                <label>标题：</label>
                <% if (blog) { %>
                <input class="form-control" value="<%- blog.title%>" name="title" type="text" />
                <% } else { %>
                <input class="form-control" class="text" type="text" name="title" />
                <% } %>
            </div>
            <div class="form-group form-group--short">
                <label>标签：</label>
                <% if (blog) { %>
                <input class="form-control" type="input" value="<%- blog.tags %>" name="tags" />
                <% } else { %>
                <input class="form-control" type="input" name="tags" />
                <% } %>
            </div>
            <div class="form-group form-group--summary">
                <label>概要：</label>
                <% if (blog) { %>
                <textarea name="summary" class="form-control J-summary"><%- blog.summary %></textarea>
                <% } else { %>
                <textarea name="summary" class="form-control J-summary"></textarea>
                <% } %>
            </div>
            <div class="form-group form-group--context">
                <label>正文：</label>
                <% if (blog) { %>
                <textarea name="content" class="J-content form-control"><%- blog.content %></textarea>
                <% } else { %>
                <textarea name="content" class="J-content form-control"></textarea>
                <% } %>
            </div>
            <div class="form-group">
                <% if (blog) { %>
                <input type="hidden" value="update" name="method" value="update" />
                <input type="submit" value="更新" class="btn btn-default" />
                <% } else { %>
                <input type="submit" value="提交" class="btn btn-default" />
                <% } %>
                <a href="javascript:void(0)" class="J-preview btn btn-success">预览</a>
            </div>
        </form>
        <% include ../common/footer %>
        <script>
            $('.J-preview').on('click', function() {
                var title = $('[name=title]').val(),
                    content = $('[name=content]').val();
                $.ajax({
                    url: '/blog/preview',
                    type: 'post',
                    data: {title: title, content: content}
                }).done(function (res) {
                    var post = 
                    '<div class="modal fade" role="dialog" arial-labelleby="' + res.title + '" aria-hidden="true">' +
                        '<div class="modal-dialog modal-lg">' +
                            '<div class="modal-content">' +
                                '<div class="modal-header"><h4 class="modal-title">' + res.title + '</h4></div>' +
                                '<div class="modal-body">' +
                                    '<div class="blog--large">' +
                                        res.content +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>';
                    $('body').append(post);
                    $('.modal').modal('show');
                });
            });
        </script>
    </body>
</html>
